<h1> testing providers index</h1>

<% if @results == nil %>
<% elsif @results.businesses.length == 0 %>
  <h3> Sorry, there are no results for that search. </h3>
<% else %>
<div>
  <ul>
    <% @results.businesses.each do |business|%>
     <li><%= business.name %><br>
     <%= image_tag business.rating_img_url %><br>
     <%= "Category: " + business.categories[0][0] %><br>
     <% business.location.display_address.each do |line| %>
      <%= line %><br>
     <% end %><br>
     <%= business.phone %><br>
     <%= image_tag business.image_url %>
     <%= link_to "see reviews", business.url %></p>
     <%= button_to "show more details", provider_path(business.id), method: :get %>
    <% end %>
  </ul>
</div>
<% end %>
