<% if @result %>
  <div>
    <ul>
      <h2><small><%= @result.name %><br></small></h2>
      <%= image_tag @result.image_url %><br>
      <%= image_tag @result.rating_img_url %><br>
      <%= @result.street %><br>
      <%= @result.city %>, <%= @result.state_code %> <%= @result.postal_code %><br>


      <% unless @result.display_phone.nil? %>
        <%= link_to "tel:#{@result.display_phone}" do%>
        <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>
        <% end %>
      <% end %>
      <%= @result.display_phone %><br>
      <%= "Category: " + @result.category %><br>
      <%= link_to "See More Reviews on Yelp", @result.bus_url %></p>


      <% if current_user %>
        <%= link_to '<i class="fi-pencil"></i> See my favorites'.html_safe, user_favorites_path(current_user.id), method: :get, class: "button info" %><br>
      <% end %>
      <% if current_user && (!current_user.favorited?(@result)) %>
        <%= form_tag user_favorites_path(current_user.id), method: :post do %>
          <%= hidden_field_tag 'provider_yelp_id', @result.id %>
          <%= button_tag '<i class="fi-plus"></i> Add to My Provider List'.html_safe, class: "button info" %><br>
        <% end %>
      <% else %>
        <%= link_to '<i class="fi-trash"></i> Delete from favorites'.html_safe, user_favorite_path(current_user.id, @result.id), method: :delete, class: "button info" %>
      <% end %>
    </ul>
  </div>
<% end %>
