<% if @result %>
  <div>
    <ul>
      <h2><small><%= @result.business.name %><br></small></h2>
      <%= image_tag @result.business.image_url %><br>
      <%= image_tag @result.business.rating_img_url %><br>
      <%= @result.business.location.display_address[0] %><br>
      <%= @result.business.location.city %>, <%= @result.business.location.state_code %>   <%= @result.business.location.postal_code %><br>


      <% unless @result.business.display_phone.nil? %>
        <%= link_to "tel:#{@result.business.display_phone[3..-1]}" do%>
        <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>
        <% end %>
      <% end %>
      <%= @result.business.display_phone[3..-1] %><br>
      <%= "Category: " + @result.business.categories[0][0] %><br>
      <%= link_to "See More Reviews on Yelp", @result.business.url %></p>


      <% if current_user %>
        <%= link_to '<i class="fi-pencil"></i>'.html_safe, user_favorites_path(current_user.id), method: :get, class: "button info" %>
      <% end %>
      <% if @user_favorites == nil %>
        <%= form_tag user_favorites_path(current_user.id), method: :post do %>
          <%= hidden_field_tag 'provider_id', @result.business.id %>
          <%= button_tag '<i class="fi-plus"></i> Add to My Provider List'.html_safe, class: "button info" %>
        <% end %>
      <% else %>
        <%= link_to '<i class="fi-trash"></i>'.html_safe, user_favorite_path(current_user.id, @result.business.id), method: :delete, class: "button info" %>
      <% end %>
    </ul>
  </div>
<% end %>
