<div>
  <h2><%= current_user.name %>'s Saved Providers</h2>
  <ul>
    <% @favorites.each do |favorite| %>
    <%= image_tag favorite.image_url %>
    <li><%= favorite.name%></li>
    <li><%= favorite.street%>, <%= favorite.street%></li>
    <li><%= favorite.display_phone%></li>

      <% unless favorite.notes == nil %>
        <li><%= "Notes: " + favorite.notes %>
      <% end %>

    <% end %><br>
  </ul>
</div>
