<div>
  <h3><%= current_user.name %>'s Saved Providers</h3>
<% @favorites.each do |favorite| %>
    <div class="panel panel-default">
      <div class="panel-heading">
      <h5><strong><%= favorite.name %></strong></h5>
      </div>
      <div class="panel-body">
      <%= image_tag favorite.image_url %><br>
        <ul>
          <li><%= favorite.street%>, <%= favorite.city%></li>
          <li><%= favorite.display_phone%></li>
          <li><%= "Average Monthly Cost: $" + favorite.provider.average_cost.to_s%></li>
          <li><%= "Available In-home attendants or In-facility Bed Count: " + favorite.provider.bed_count.to_s%></li>
        </ul>

        <% if favorite.notes %>
          <p><%= simple_format("Notes: " + favorite.notes) %></p>
        <% end %><br>

        <%= form_for(favorite, url: user_favorite_path(favorite.user_id, favorite.id), html: {method: "patch"}) do |f| %>
          <fieldset>
            <h4>Add a note to log:</h4>
            <div class="form-group">
            <!-- <%= f.label :name %> -->
            <%= f.text_area :notes, size: "40x5", label: false, placeholder: "enter any notes", :required => true %>
            </div>
            <%= f.hidden_field :user_id, :value => session[:user_id] %>
          </fieldset>
          <div class="submit"><%= f.submit class: "button info" %>
          </div>
        <% end %>
        <%= link_to '<i class="fi-trash"></i> Delete from favorites'.html_safe, user_favorite_path(current_user.id, favorite.provider_id), method: :delete, class: "button info" %><br>
      </div>
    </div>
  <% end %><br>
</div>
