<div class="landing_body">
  <% unless current_user %>
    <h2 style="text-align: center; color: black;">Welcome!</h2>
  <% end %>
  <div style="width: 50%; margin: 0 auto;">
  <h4 style="text-align: center; color: black;">Search for a provider in your area</h4>

    <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="card-panel indigo lighten-3">
            <span class="white-text">
              <h4 class="search">Enter your search term:</h4>
                <%= form_tag search_term_path, method: "post", class: "" do  %>
                  <%= text_field_tag :city, nil, class: 'form-control', placeholder: 'city' %><br>

                  <p><%= radio_button_tag 'category', 'Home Health Care', false, class: ""%>
                  <%= label_tag("category_Home_Health_Care", "Home Health Care", class: "white-text") %></p>

                  <p><%= radio_button_tag 'category', "Assisted Living Facilities", false, class: ""%>
                  <%= label_tag("category_Assisted_Living_Facilities", "Assisted Living Facilities", class: "white-text") %></p>

                  <p><%= radio_button_tag 'category', "Retirement Homes", false, class: ""%>
                  <%= label_tag("category_Retirement_Homes", "Retirement Homes", class: "white-text") %></p>

                  <span class="input-group-btn">
                    <%= submit_tag "Search", class: 'btn btn-default'%>
                  </span>
                <% end %>
            </span>
          </div>
        </div>
      </div>
  </div>
</div>

<% if @results == nil %>
<% elsif @results.businesses.length == 0 %>
  <h3> Sorry, there are no results for that search. </h3>
<% else %>
  <% @results.businesses.each do |business|%>
  <div class="col s12 m3">
    <h4 class="header"><%= business.name %></h4>
      <div class="card horizontal">
      <div class="card-image">
        <div style="padding: 1rem;">
        <%= image_tag business.image_url %>
        <%= image_tag business.rating_img_url %>
        <span class="black-text">
        <%= "Category: " + business.categories[0][0] %>
        </span>
      </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="black-text">
          <p><% business.location.display_address.each do |line| %>
           <%= line %><br>
          <% end %><br>
          <%= business.phone %><br>
          </p>
        </span>
        </div>
        <div class="card-action">
          <%= link_to "see reviews", business.url %>
          <%= link_to "show more details", provider_path(business.id), method: :get %>
        </div>
      </div>
      </div>
  </div>
  <% end %>
<% end %>

<!--

<% if @results == nil %>
<% elsif @results.businesses.length == 0 %>
  <h3> Sorry, there are no results for that search. </h3>
<% else %>
<div>
  <ul>
    <% @results.businesses.each do |business|%>
     <li><%= business.name %><br>
     <li><%= business.id %><br>
       <%= image_tag business.rating_img_url %><br>
       <%= "Category: " + business.categories[0][0] %><br>
       <% business.location.display_address.each do |line| %>
       <%= line %><br>
       <% end %><br>
       <%= business.phone %><br>
       <%= image_tag business.image_url %>

     <%= link_to "see reviews", business.url %></p>
     <%= button_to "show more details", provider_path(business.id), method: :get %>
    <% end %>
  </ul>
</div>
<% end %> -->
