<!DOCTYPE html>
<html>
<head>
  <title>BeaconSeniorResources</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%= image_tag("LIGHTHOUSE-BEACON.png", class: "img-responsive", style: "height: 15rem; width: 15rem")%>
  <div class="page-header">
    <h1><a href="/">Beacon Senior Resources</a> <small>Helping families find the right senior care</small></h1>
  </div>
</header>
<body>
  <div>
    <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", logout_path, id: "sign_out" %>
    <% end %>
    <% unless current_user %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>

<%= yield %>

</body>

<footer>
  copyright Beacon Senior Resources, LLC
</footer>
</html>
